.brand-one {
  --spacing-100: 6px;
  --spacing-200: 12px;
  --spacing-300: 18px;
  --spacing-400: 24px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --radii-full: 100%;
  --radii-sharp: 0px;
  --radii-round: 2px;
  --font-size-100: 15px;
  --font-size-200: 18px;
  --font-size-300: 24px;
  --font-size-400: 36px;
  --font-weight-bold: Bold;
  --font-weight-regular: regular;
  --font-family-sans: Inter;
  --color-neutral-100: #f3f3ff;
  --color-neutral-500: #c5c5d5;
  --color-neutral-700: #9a9aaa;
  --color-neutral-900: #666676;
  --color-neutral-1000: #333343;
  --color-primary-100: #99a3fd;
  --color-primary-500: #4656e4;
  --color-primary-900: #1e298a;
  --color-basic-white: #ffffff;
  --color-basic-black: #000000;
  --color-background-cta-primary-default: #4656e4;
  --shadow-card: [object Object];
}
