:root {
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 12px;
  --space-lg: 20px;
  --space-xl: 36px;
  --space-2xl: 48px;
  --radii-full: 100%;
  --radii-sharp: 2px;
  --radii-round: 8px;
  --font-size-sm: 15px;
  --font-size-md: 18px;
  --font-size-lg: 24px;
  --font-size-xl: 36px;
  --font-weight-bold: bold;
  --font-family-sans: Roboto;
  --color-neutral-100: #f3f4f5;
  --color-neutral-500: #c4c9ca;
  --color-neutral-700: #8c9597;
  --color-neutral-900: #444a4b;
  --color-neutral-1000: #111111;
  --color-primary-100: #e6edf5;
  --color-primary-500: #146807;
  --color-primary-900: #184267;
  --color-basic-white: #ffffff;
  --card: [object Object];
}
